In [5]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import folium

In [6]:
df = pd.read_csv('./Data/houses_Hazelwoods.csv')
df.head()

,index,cardinal,street,streetb,city,zipcode,lon,lat,addresses,price,neighbourhood
0,13007,SE,Division,St,Portland,97236,-122.529736,45.504087,"13007 SE Division St, Portland, OR 97236",499950,HAZELWOOD
1,2336,SE,130th,Ave,Portland,97233,-122.529935,45.505164,"2336 SE 130th Ave, Portland, OR 97233",180000,HAZELWOOD
2,2246,SE,139th,Ave,Portland,97233,-122.520953,45.506083,"2246 SE 139th Ave, Portland, OR 97233",419900,HAZELWOOD
3,10020,SE,Grant,St,Portland,97216,-122.560217,45.506665,"10020 SE Grant St, Portland, OR 97216",499999,HAZELWOOD
4,2140,SE,104th,Dr,Portland,97216,-122.556715,45.507186,"2140 SE 104th Dr, Portland, OR 97216",615000,HAZELWOOD

In [7]:
df.tail()

,index,cardinal,street,streetb,city,zipcode,lon,lat,addresses,price,neighbourhood
46,12640,NE,Hassalo,St,Portland,97230,-122.532987,45.530623,"12640 NE Hassalo St, Portland, OR 97230",399900,HAZELWOOD
47,1118,NE,118th,Ave,Portland,97220,-122.541422,45.530865,"1118 NE 118th Ave, Portland, OR 97220",399000,HAZELWOOD
48,1119,NE,120th,Ave,Portland,97220,-122.539065,45.530936,"1119 NE 120th Ave, Portland, OR 97220",492000,HAZELWOOD
49,1221,NE,136th,Ave,Portland,97230,-122.523026,45.531798,"1221 NE 136th Ave, Portland, OR 97230",629000,HAZELWOOD
50,11615,NE,Clackamas,St,Portland,97220,-122.543235,45.532619,"11615 NE Clackamas St, Portland, OR 97220",499999,HAZELWOOD

In [8]:
df.columns

Index(['index', 'cardinal', 'street', 'streetb', 'city', 'zipcode', 'lon',
       'lat', 'addresses', 'price', 'neighbourhood'],
      dtype='object')

In [9]:
df.describe()

              index       zipcode         lon        lat          price
count     51.000000     51.000000   51.000000  51.000000      51.000000
mean    6467.372549  97224.215686 -122.537974  45.520642  442653.882353
std     5631.465493      7.330249    0.014034   0.007801  112485.219014
min       14.000000  97216.000000 -122.561859  45.504087  180000.000000
25%      717.500000  97216.000000 -122.550585  45.516378  397500.000000
50%     9923.000000  97220.000000 -122.539023  45.522106  449900.000000
75%    11870.000000  97233.000000 -122.524171  45.525504  499925.000000
max    13946.000000  97236.000000 -122.515016  45.532619  650000.000000

In [14]:
df2 = pd.read_csv('./Data/houses_northwest.csv')
df2.head()

,index,cardinal,street,streetb,city,zipcode,lon,lat,addresses,price,neighbourhood
0,2627,NW,Sussex,Ave,Portland,97210,-122.720546,45.541573,"2627 NW Sussex Ave, Portland, OR 97210",499900,NORTHWEST DISTRICT
1,2641,NW,Sussex,Ave,Portland,97210,-122.720619,45.541600,"2641 NW Sussex Ave, Portland, OR 97210",529900,NORTHWEST DISTRICT
2,2125,NW,33rd,Ave,Portland,97210,-122.716072,45.537776,"2125 NW 33rd Ave, Portland, OR 97210",650000,NORTHWEST DISTRICT
3,1718,NW,Riverscape,St,Portland,97209,-122.688598,45.538568,"1718 NW Riverscape St, Portland, OR 97209",660000,NORTHWEST DISTRICT
4,1223,NW,19th,Ave,Portland,97209,-122.690587,45.531685,"1223 NW 19th Ave, Portland, OR 97209",875000,NORTHWEST DISTRICT

In [15]:
df2.tail()

,index,cardinal,street,streetb,city,zipcode,lon,lat,addresses,price,neighbourhood
8,2409,NW,Marshall,St,Portland,97210,-122.700984,45.530489,"2409 NW Marshall St, Portland, OR 97210",1300000,NORTHWEST DISTRICT
9,2334,NW,Northrup,St,Portland,97210,-122.699479,45.531165,"2334 NW Northrup St, Portland, OR 97210",1300000,NORTHWEST DISTRICT
10,2470,NW,Westover,Rd,Portland,97210,-122.701880,45.527538,"2470 NW Westover Rd, Portland, OR 97210",1500000,NORTHWEST DISTRICT
11,2423,NW,Northrup,St,Portland,97210,-122.701308,45.531187,"2423 NW Northrup St, Portland, OR 97210",1839000,NORTHWEST DISTRICT
12,1712,NW,Riverscape,St,Portland,97209,-122.688308,45.538438,"1712 NW Riverscape St, Portland, OR 97209",2595000,NORTHWEST DISTRICT

In [16]:
df2.describe()

             index       zipcode         lon        lat         price
count    13.000000     13.000000   13.000000  13.000000  1.300000e+01
mean   2173.769231  97209.692308 -122.701672  45.534434  1.164062e+06
std     412.642330      0.480384    0.011059   0.005016  5.906339e+05
min    1223.000000  97209.000000 -122.720619  45.527538  4.999000e+05
25%    2069.000000  97209.000000 -122.701880  45.531165  6.600000e+05
50%    2334.000000  97210.000000 -122.700370  45.532051  1.190000e+06
75%    2423.000000  97210.000000 -122.694062  45.538438  1.300000e+06
max    2641.000000  97210.000000 -122.688308  45.541600  2.595000e+06